.container-preview-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    gap: 30px;
}

.container-result {
    background-color: hsl(213, 19%, 18%);
    padding: 8px 20px;
    border-radius: 20px;
    color: hsl(25, 97%, 53%);
}

.container-text-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.rate-again-action {
    width: 100%;
}